@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
:root {
  --blue: #345ff6;
  --gunmetal: #253347;
  --dark-electric-blue: #5e6e85;
  --borders: #d8e2e7;
  --pure-white: #ffffff;
}

nav {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(143, 174, 207, 0.25);
  border-radius: 0px 0px 16px 16px;
}
a {
  text-decoration: none;
}
.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
  transition: all 0.3s ease-in-out;
  margin: 0 16px;
}
.nav-link:hover {
  color: #345ff6;
  box-shadow: inset 0px -2px 0px #345ff6;
}
.navbar-toggler {
  border: none;
  background: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%235e6e85' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 8h24M4 16h24M4 24h24'/%3e%3c/svg%3e");
}
/* Typography */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #253347;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #253347;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #253347;
  flex: none;
  order: 2;
  flex-grow: 0;
}
h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #253347;
  flex: none;
  order: 2;
  flex-grow: 0;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Layout */
.back {
  top: 0;
  left: 0;
  background: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  border-radius: 0px 0px 35px 35px;
  z-index: -1;
  width: 75%;
  box-shadow: 0px 4px 16px rgba(143, 174, 207, 0.25);
}
.calculator {
  padding-top: 167px;
  padding-bottom: 86px;
}
.text-content p {
  max-width: 465px;
}
.data-wraper {
  max-width: 564px;
  padding: 32px;
  background: #ffffff;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
}
.form-check-input[type="radio"] {
  background: #ffffff;
  border: 1px solid #d8e2e7;
}
.form-check-input[type="radio"]:hover {
  background: #ffffff;
  border: 1px solid #345ff6;
}
.form-check-input[type="radio"]:checked {
  background: #345ff6;
  outline: 5px solid rgba(52, 95, 246, 0.15);
}
.form-check-label {
}
.input-group {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #d8e2e7;
  border-radius: 12px;
}
.input-group span {
  border: none;
  background: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #345ff6;
}
.form-control {
  max-width: 131px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #253347;
}
.form-control::placeholder {
  opacity: 0.25;
}
.form-control:focus {
  box-shadow: none;
}
.form-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #5e6e85;
}
.btn-primary {
  background: none !important;
  border-radius: 12px;
  border: 2px solid #587dff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #253347;
  padding: 16px 32px;
}
.btn-primary:hover {
  color: #253347 !important;
  box-shadow: 0px 4px 16px rgba(143, 174, 207, 0.25) !important;
}
#error p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ff4d4f !important;
  text-align: center;
}
.welcome {
  padding: 32px;
  background: linear-gradient(90deg, #345ff7 0%, #587dff 100%);
  border-radius: 35px 300px 300px 35px;
}
.welcome h3,
.welcome h2,
.welcome h4 {
  color: #ffffff;
}
.welcome p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
/* Section Result */
.result {
  padding-top: 65px;
  padding-bottom: 96px;
}
.result-content {
  max-width: 465px;
}
.result-content h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #253347;
}
/* Section Recomendations */
.recomendations {
  padding-top: 72px;
  padding-bottom: 96px;
  background: linear-gradient(
    290.1deg,
    rgba(214, 230, 254, 0.25) 0%,
    rgba(214, 252, 254, 0) 100%
  );
  border-radius: 35px;
}

.recomendation-card {
  transition: all 0.3s ease-in-out;
}
.recomendation-card:hover {
  transform: scale(1.05);
}
.recomendation-card .card {
  width: 22.813rem;
}

/* Section Limitations */
.limitations {
  padding-top: 120px;
  padding-bottom: 120px;
}
.limitations-card {
  max-width: 365px;
  max-height: 232px;
  padding: 32px;
  background: #ffffff;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.limitations-card:hover {
  box-shadow: 16px 32px 56px rgba(52, 95, 246, 0.25);
  transform: scale(1.05);
  z-index: 10;
}
@media (max-width: 768.98px) {
  .text-content p {
    max-width: 100%;
  }
  .data-wraper {
    max-width: none;
    width: 100%;
  }
  .recomendation-card .card {
    width: 100%;
  }
  .back {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .data-wraper {
    padding: 24px;
  }
  .welcome {
    background: linear-gradient(90deg, #345ff7 0%, #587dff 100%);
    border-radius: 16px;
  }
}
